<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>smartblog</name>
    <displayName><![CDATA[Smart Blog]]></displayName>
    <version><![CDATA[3.0.3]]></version>
    <description><![CDATA[The Most Powerfull Prestashop Blog  Module - by smartdatasoft]]></description>
    <author><![CDATA[SmartDataSoft]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>