ul.categories_block_left {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
}

ul.categories_block_left li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}

/* This hides the dropdowns */


ul.categories_block_left li ul { display: none; }

ul.categories_block_left  li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul.categories_block_left li a:hover { background: #2c3e50; }

/* Display the dropdown */


ul.categories_block_left li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1;
}

ul.categories_block_left li:hover li { float: none; }

ul.categories_block_left li:hover a { background: #1bc2a2; }

ul.categories_block_left li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul.categories_block_left ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



ul.categories_block_left:before,
ul.categories_block_left:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul.categories_block_left:after { clear: both; }