#smartblogarchive li {
    position: relative;
}

#smartblogarchive li span.grower.OPEN:before, #smartblogarchive li span.grower.CLOSE:before {
    content: "\f068";
    display: block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: #333;
    line-height: 30px;
    text-align: center;
}
#smartblogarchive li span.grower.CLOSE:before {
    content: "\f067";
    color: silver;
}
#smartblogarchive li span.grower {
    display: block;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 14px;
}
#smartblogarchive li a {
    font-weight: bold;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding: 0 30px 0 19px;
    border-bottom: 1px solid #d6d4d4;
}
#smartblogarchive li li a {
    font-weight: normal;
    color: #777777;
}
#smartblogarchive li li a:before {
    content: "\f105";
    font-family: "FontAwesome";
    line-height: 29px;
    padding-right: 8px;
}